* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2 {
  color: $rg-red;
  margin: 0;
}

h1 {
  font-size: $bs2;
  font-weight: 700;
}

h2 {
  font-size: $bs1;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: $rg-red;

  &:hover,
  &:focus,
  &:active {
    color: lighten($rg-red, 10);
    text-decoration: underline;
  }
}