// Breakpoints

$tablet: 768px;
$desktop: 1024px;
$big-screen: 1650px;
$very-big-screen: 2000px;

// Sizes - Modular Scale with perfect fifth ratio

$bs-3: 0.296rem;
$bs-2: 0.444rem;
$bs-1: 0.667rem;

$baseline: 1rem;

$bs1: 1.5rem;
$bs2: 2.25rem;
$bs3: 3.375rem;
$bs4: 5.063rem;
$bs5: 7.59em;

// Colors

$rg-red: #CF2630;
$rg-navy: #002e3b;

$grey-light: #ccc;
$grey-dark: #333;
$grey-default: #999;