<%= form_for([submission, comment]) do |f| %>
  <div class="form-field form-field-close">
    <%= f.text_area :body, placeholder: "Your Comment", class: "textarea-small" %>
  </div>
  <div>
    <%= f.submit "Comment", class: "btn-small btn-right-align" %>
  </div>
<% end %>
