<p id="notice"><%= notice %></p>

<p>
  <%= @comment.body %>
</p>

<%= link_to 'Edit', edit_submission_comment_path(@comment.submission_id, @comment.id) %> |
<%= link_to 'Back', submission_path(@comment.submission_id) %>
