.l-static-container-whole {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  img {
    max-width: 100%;
  }
}

.l-static-container {
  position: relative;
  width: 100%;
  text-align: center;

  .btn-small {
    margin: 0 auto;
  }

  @include media($tablet) {

    background: center $bs3 no-repeat;
  }
}

.login-page {
  background-image: image-url('rails-girls-krakow-2016.png');
  background-size: auto 500px;
  padding-top: 600px;
}

.closed-page {
  background-image: image-url('fb.png');
  background-size: auto auto;
  padding-top: 400px;
}

.soon-page {
  background-color: $main-color;
  text-align: center;
}