.aside-widget-submission {

  .form-aside-link {
    display: block;

    @include media($big-screen) {
      width: 400px;
      height: 400px;
      margin-top: $bs1;
      background: image-url('rails-girls-krakow-2016.png') no-repeat center bottom;
      background-size: 100% auto;
      color: transparent;
    }
  }
}