header {
  background: $rg-navy;
  margin-bottom: 3rem;
  padding: 1.5rem 1rem;

  * {
    color: white;
  }

  h1 {
    letter-spacing: -.125rem;
    background: white;
    display: inline-block;
    color: $rg-red;
    padding: .25rem 3.65rem .25rem .25rem;
    margin-top: 0;
  }

  .date {
    font-size: 1.2rem;
  }

  @media (min-width: 1024px) {
    position: relative;
    height: 500px;
    background: url(/assets/rails-girls-krakow-2016.png) center top no-repeat;
    background-size: auto 100%;
    padding-top: 1rem;
    margin-top: 1rem;

    h1 { display: none; }

    a {
      position: absolute;
      right: 1rem;
    }

    .date {
      letter-spacing: -.125rem;
      color: $rg-red;
      display: inline-block;
      font-size: 2.3rem;
      position: absolute;
      right: 1rem;
      top: 2.5rem;
    }
  }
}