.l-submission-single {
  margin-top: $bs1;

  @include media($tablet) {
    margin-top: $bs3;
  }
}

.submission-header {
  @include clearfix;
  margin-bottom: $bs1;
  word-break: break-all;
  line-height: $bs3;
}

.submission-header-status {
  float: right;
  font-weight: 100;
}

.submission-answer {
  padding: $bs1;
  margin: 0;
  text-align: right;
  border-bottom: 1px solid #ccc;

  &:nth-of-type(even) {
    background: #f0f0f0;
  }

  .submission-answer-label {
    font-weight: 700;
    float: left;
  }
}

.submission-answer-block {
  text-align: left;

  .submission-answer-label {
    display: block;
    float: none;
    margin-bottom: $bs1;
  }
}

.submission-rating-form {
  margin-bottom: $bs1;
  border-bottom: 2px solid $rg-red;
  line-height: $bs4;

  > * {
    vertical-align: middle;
  }
}

.submission-rates {
  margin-top: $bs1;
  text-align: left;
  padding-bottom: $bs1;
  border-bottom: 2px solid $rg-red;
}

.submission-rate {
  margin-bottom: $bs-1;
}

.submission-rate-author {
  font-weight: bold;
}

.submission-rate-value {
  padding-left: $bs-2;
  color: $rg-red;
}

.submission-rate-avg {
  display: block;
  margin-top: $bs1;
  text-align: right;
}

.submission-rate-avg-number {
  color: $rg-red;
}

.submission-comments {
  text-align: left;
  margin-top: $bs1;
}

.submission-comment {
  text-align: left;
}

.submission-comment-author {
  font-weight: bold;
}

.submission-comment-date {
  color: $grey-default;
}