.thanks {
  margin-top: 2rem;
  text-align: center;
  img {
    max-width: 300px;
  }
  h1 { color: $rg-red; }

  p {
    font-size: 1.25rem;
    line-height: 1.4;
   }

  small {
    display: block;
    font-size: .9rem;
    line-height: 1.4;
    margin-top: 2rem;
  }
}
