<div class="l-wrapper l-wrapper-narrow">
  <article class="l-static-container closed-page">
    <p> Rejestracja już się zakończyła.</p>
     <a href="https://www.facebook.com/WebMuses/" class="btn-small">Polub na nasz profil na Facebooku, aby być na bieżąco z wydarzeniami, które organizujemy.</a>
  </article>
</div>