<div class="l-wrapper l-wrapper-narrow">
  <article class="l-static-container closed-page">
    <p> Registration is now closed.</p>
     <a href="http://railsgirls.com" class="btn-small">Check Rails Girls website</a>
  </article>
</div>