<div class="l-wrapper-narrow">
  <%= render 'form', { submission: submission } %>

  <aside class="aside-widget aside-widget-fixed aside-widget-submission" itemscope itemtype="http://schema.org/Event">
    <span class="aside-widget-text" itemprop="name">Warsztaty HTML&nbsp;&amp;&nbsp;CSS<br/>WebMuses + The Awwwesomes</span>
    <br/>
    <span class="aside-widget-text" itemprop="startDate" content="2017-01-10T06:30">
      Warsztaty w Krakowie, 10.01.2016 - 28.02.2016
    </span>
    <%= link_to "http://theawwwesomes.org/", "http://theawwwesomes.org/", target: "_blank",
      :class => "form-aside-link", title: "Warsztaty HTML & CSS organizowane przez WebMuses i The Awwwesomes" %>
  </aside>
</div>
