<div class="l-wrapper-narrow">
  <h1 class="form-header">Apply for Rails Girls workshop</h1>

  <%= render 'form' %>
  <aside class="form-aside form-submission-aside" itemscope itemtype="http://schema.org/Event">
    <span class="form-aside-text" itemprop="name">Rails Girls</span>
    <span class="form-aside-text" itemprop="startDate" content="2016-04-16T06:00">16-17 April</span>
    <%= link_to "railsgirls.com/krakow", "http://railsgirls.com/krakow", target: "_blank", class: "form-aside-link", title: "Rails Girls Kraków website" %>
  </aside>
</div>
