<div class="l-wrapper-narrow">
  <%= render 'form', { submission: submission } %>

  <aside class="aside-widget aside-widget-fixed aside-widget-submission" itemscope itemtype="http://schema.org/Event">
    <span class="aside-widget-text" itemprop="name">Warsztaty HTML i CSS</span>
    <span class="aside-widget-text" itemprop="startDate" content="2016-01-10T06:30">
    </span>
    <%= link_to "/", target: "_blank",
      class: "form-aside-link", title: "Warsztaty HTML & CSS organizowane przez WebMuses i The Awwwesomes" %>
  </aside>
</div>
