<div class="l-wrapper-narrow">
  <%= render 'form', { submission: submission } %>

  <aside class="aside-widget aside-widget-fixed aside-widget-submission" itemscope itemtype="http://schema.org/Event">
    <span class="aside-widget-text" itemprop="name">Rails Girls</span>
    <span class="aside-widget-text" itemprop="startDate" content="2016-04-16T06:00">
      <%= footer_presenter.event_dates %>
    </span>
    <%= link_to "#{footer_presenter.event_url}", "http://#{footer_presenter.event_url}", target: "_blank",
      class: "form-aside-link", title: "Rails Girls Kraków website" %>
  </aside>
</div>
