<article class="l-wrapper soon-page">
  <%= image_tag 'webmuses_theawwwwesomes.png', alt: "Rejestracja na warsztaty html i css zostanie niedługo otwarta." %>
  <h1>Rejestracja na warsztaty html i css zostanie niedługo otwarta.</h1>
</article>
