<div class="thanks l-wrapper l-wrapper-narrow">
  <%= image_tag 'thanks.jpg' %>
  <h1>Dziękujemy za zgłoszenie!</h1>

  <small>
    Za jakiś czas otrzymasz od nas email z wynikami rejestracji.
    <br/><br/>
    Jeżeli nie otrzymasz od nas żadnej wiadomości do końca grudnia, to możliwe że adres email został źle wpisany. W takim wypadku wyślij nam wiadomość na adres <%= mail_to 'webmuses@gmail.com', 'webmuses@gmail.com' %>.
  </small>
</div>
