# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  app_id: yourappidgoeshere
  app_secret: yourappsecretgoeshere
  secret_key_base: e19aec195762464597357e36f6561545a88a8f3325d9ff362882d35929c1f874f0ac2bba770780b95b72a9a9a3fd835c389e0607de97201579b049a73f753b0a

test:
  secret_key_base: f8970200e5cf958d5b0121d97494562c36cf0e4b11b98c322a7cbf2198e4eee666f3250d5c15119a17709da19699954d40266b0289bd38468e44ec5cf3cbbb09

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  app_id: <%= ENV["APP_ID"] %>
  app_secret: <%= ENV["APP_SECRET"] %>
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
