.aside-widget {
  text-align: center;
  margin: $bs2 0;

  @include media($big-screen) {
    position: fixed;
    width: 400px;
    top: 2 * $bs2;
    right: 10%;
  }
}

.aside-widget-text {
  display: block;
  color: $rg-red;
  font-size: $baseline;

  @include media($big-screen) {
    font-size: $bs1;
    font-weight: 400;
  }
}