.btn {
  @include appearance(none);
  display: inline-block;
  padding: $baseline $bs1;
  background-color: $rg-red;
  border: none;
  font-size: $baseline;
  color: white;
  cursor: pointer;

  &:hover,
  &:active,
  &:focus {
    transition: background-color .4s;
    background-color: lighten($rg-red, 10);
    color: white;
    text-decoration: none;
  }
}

.btn-small {
  @extend .btn;
  padding: $bs-1 $baseline;
}

.btn-right-align {
  float: right;
}

.link-return {
  display: block;
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }

  &:after {
    display: inline;
    content: " to all submissions";
  }

  @include media($tablet) {
    position: fixed;
    left: $bs-1;
    padding: 0 $bs-1;
    line-height: $bs3;
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
      outline: 1px dotted $rg-red;
    }

    &:after {
      display: none;
    }
  }

  @include media($big-screen) {
    left: 10%;
    line-height: $bs2;

    &:after {
      display: inline;
    }
  }
}