#notice {
  position: absolute;
  width: 100%;
  top: 0;
  margin: 0;
  padding: 0 $bs2;
  line-height: $bs2;
  text-align: center;
  color: white;
  background-color: $rg-red;

  @include media($tablet) {
    position: relative;
    float: left;
    width: 400px;

  }
}